<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layouts/layout :: header"></head>
	
	<body>
		<div th:insert="~{layouts/layout :: navbar}"></div>		
	    
	    <div class="container mt-3">
	    	<a th:href="@{/createInvoice}" class="btn btn-danger">
	    		<i class="fas fa-plus-circle mr-2"></i>Facturar
	    	</a>			
			<h4 class="mt-2">Facturas</h4>
			<hr class="mb-4"/>
			<table id="invoices" class="table table-striped table-responsive-md">
			    <thead>
			        <tr>
			            <th>ID Factura</th>
			            <th>Fecha Factura</th>
			            <th>cliente</th>
			            <th>Camaremo</th>
			            <th># de Mesa</th>
			            <th># de Productos</th>
			            <th>Total Factura</th>			                        		            		            
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="invoice : ${invoices}">
			            <td th:text="${invoice.invoiceId}"></td>
			            <td th:text="${invoice.invoiceDate}"></td>
			            <td th:text="${invoice.client}"></td>
			            <td th:text="${invoice.waiter}"></td>
			            <td th:text="${invoice.tableId}"></td>
			            <td th:text="${invoice.numberProducts}"></td>
			            <td style="text-align:right;" th:text="${invoice.totalInvoice}"></td>			            			            
			        </tr>
			    </tbody>
			</table>
		</div>					
	</body>
</html>
